<server description="Sample Liberty server">

  <featureManager>
    <feature>restfulWS-3.0</feature>
    <feature>jsonb-2.0</feature>
    <feature>jsonp-2.0</feature>
    <feature>cdi-3.0</feature>
    <feature>mpConfig-3.0</feature>
  </featureManager>

  <mpMetrics authentication="false"/>
  <httpEndpoint httpPort="9081" httpsPort="9444"
      id="defaultHttpEndpoint" host="*" />

  <webApplication location="guide-containerize-inventory.war" contextRoot="/">

  </webApplication>

</server>